/*  your css code here. If applicable */
.main{
	width:300px;
	background-color:lightgray;
	padding:15px;
	margin:auto;
}
p, h1, img{
	margin:auto;
	text-align:center;
}
.image{
	margin:auto;
	width:80%;
	
}
.buy{
	background-color:red;
	width:30%;
	margin:auto;
	border-radius:5px;
	height:30px;
	display:flex;
	align-items:center;
}
